server:
  port: 8081

spring:
  activemq:
    broker-url: tcp://10.10.49.102:61616
    user: admin
    password: admin
  jms:
    pub-sub-domain: false

jobqueue: jobRunQueue

async:
  executor:
    thread:
      core_pool_size: 5
      max_pool_size: 20
      queue_capacity: 1000
      name:
        prefix: async-